* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem;
}

img {
  height: 334px;
  width: 334px;
  /* border: 2px solid red; */
  border-radius: 50%;
  animation: spin 3s linear alternate;
}
/* .dog-breed {
  height: 334px;
  width: 334px;
  border: 2px solid red;
  border-radius: 50%;
  animation: spin 3s linear alternate;
} */

.load-dog {
  background-color: #348975;
  color: #fff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font: 30px;
}

@keyframes spin {
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes loading {
  to {
    transform: rotateZ(360deg);
  }
}

.loader {
  font-size: 50px;
  text-align: center;
  animation: 2s loading linear infinite;
  display: none;
}

.dog-breed {
  display: none;
}

.show {
  display: block;
}
